<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Kurumsal Web Sitemiz</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <link rel="stylesheet" href="~/css/site.css" />

    <!-- Favicons -->
    <link href="/SiteLayout/assets/img/favicon.png" rel="icon">
    <link href="/SiteLayout/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/SiteLayout/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="/SiteLayout/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="/SiteLayout/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/SiteLayout/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/SiteLayout/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/SiteLayout/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/SiteLayout/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/SiteLayout/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Moderna - v4.8.0
    * Template URL: https://bootstrapmade.com/free-bootstrap-template-corporate-moderna/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>
<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center header-transparent">
        <div class="container d-flex justify-content-between align-items-center">

            <div class="logo">
                <h1 class="text-light"><a href="index.html"><span>Parme Kurumsal</span></a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <a href="index.html"><img src="/SiteLayout/assets/img/logo.png" alt="" class="img-fluid"></a>
            </div>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="active " href="/Home/Index/">Anasayfa</a></li>
                    <li><a href="#hakkimizda">Hakkımızda</a></li>
                    <li><a href="/Home/Index/">Hizmetlerimiz</a></li>
                    <li class="dropdown">
                        <a href="#"><span>Blog Kayıtları</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="#blog">Bloglar</a></li>
                            <li><a href="#kategori">Kategoriler</a></li>
                        </ul>
                    </li>
                    <li><a href="#iletisim">İletişim</a></li>
                    <li><a href="/Admin/Login/" class="button-a-background">
                        <b class="bi bi-box-arrow-in-right">Oturum Aç</b></a>
                    </li>

                    <li><a href="/Admin/Login/" class="button-a-background">
                        <b class="bi bi-person">Kayıt Ol</b></a>
                    </li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->

    @RenderBody()

    <!-- ======= Footer ======= -->
    <footer id="footer" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">


        <div class="footer-top"  id="iletisim">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6 col-md-6 footer-links">
                        <h4>Kullanışlı Bağlantılar</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="/Home/Index/">Anasayfa</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#hakkimizda">Hakkımızda</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="/Home/Index/">Hizmetlerimiz</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#blog">Blog Kayıtları</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#iletisim">İletişim</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h4>İletişim</h4>
                        <p>
                            Kemalpaşa Esentepe Kampüsü, <br>
                            Üniversite Cd.,<br>
                            54050 Serdivan/Sakarya <br><br>
                            <strong>Telefon:</strong> 0538 777 40 43<br>
                            <strong>Email:</strong> fatih.durmaz1@ogr.sakarya.edu.tr<br>
                        </p>

                    </div>

                    <div class="col-lg-3 col-md-6 footer-info">
                        <h3>Sitemiz Hakkında</h3>
                        <p>
                            1998 yılında "En yeni iletişim ve bilgisayar teknolojilerini kullanarak müşterilerine dünya standartlarında çözümler sunmak" ilkesiyle yola çıkan parme.net, geçen 16 yıllık süreçte Dünya ve Türkiye’ye, en büyük domain ve hosting firmalarından biri olmayı başarmıştır[...]
                        </p>
                        <div class="social-links mt-3">
                            <a href="https://twitter.com/?lang=tr" class="twitter"><i class="bx bxl-twitter"></i></a>
                            <a href="https://tr-tr.facebook.com/" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="https://www.instagram.com/" class="instagram"><i class="bx bxl-instagram"></i></a>
                            <a href="https://web.whatsapp.com/" class="whatsapp"><i class="bx bxl-whatsapp"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                @DateTime.Now.Year
                &copy; <strong><span>Parme</span></strong> Tüm Hakları Gizlidir
            </div>
            <div class="credits">
              
                Designed by <a href="https://www.sakarya.edu.tr/">Fatihdrmz</a>
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="/SiteLayout/assets/vendor/purecounter/purecounter.js"></script>
    <script src="/SiteLayout/assets/vendor/aos/aos.js"></script>
    <script src="/SiteLayout/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/SiteLayout/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/SiteLayout/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/SiteLayout/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/SiteLayout/assets/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="/SiteLayout/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="/SiteLayout/assets/js/main.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
